@import "tailwindcss";

.custom-route-badge {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.custom-route-badge::before {
  display: none !important;
}

.ant-animation {
  stroke-dasharray: 12, 12;
  animation: march 1.5s linear infinite;
}

@keyframes march {
  to {
    stroke-dashoffset: -24;
  }
}
